[submodule "magicmind-cloud"]
	path = magicmind-cloud
	url = https://gitee.com/cambricon/magicmind-cloud
[submodule "magicmind-edge"]
	path = magicmind-edge
	url = https://gitee.com/cambricon/magicmind-edge
[submodule "paddle_mlu"]
	path = paddle_mlu
	url = https://gitee.com/cambricon/paddle_mlu.git
[submodule "pytorch_modelzoo"]
	path = pytorch_modelzoo
	url = https://gitee.com/cambricon/pytorch_modelzoo.git
